body,
html {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

* {
    font-size: 12px;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: OpenSansBoldItalic;
    src: url(../../font/OpenSans-BoldItalic.ttf);
    src: url(../../font/OpenSans-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url(../../font/OpenSans-SemiBold.ttf);
    src: url(../../font/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: OpenSansBold;
    src: url(../../font/OpenSans-Bold.ttf);
    src: url(../../font/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: OpenSans;
    src: url(../../font/OpenSans-Regular.ttf);
    src: url(../../font/OpenSans-Regular.ttf) format('truetype');
}

.font-opensans-bolditalic {
    font-family: OpenSansBoldItalic !important;
}

.font-opensans-semibold {
    font-family: OpenSansSemiBold !important;
}

.font-opensans-bold {
    font-family: OpenSansBold;
}

.font-opensans {
    font-family: OpenSans;
}

#header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    border-bottom: solid 1px lightgray;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 1px;
    position: relative;
    z-index: 999;
}

#header .logo {
    width: 100%;
    height: 100%;
    background: url("../imgs/common/logo.png") no-repeat;
    background-size: auto 50%;
    background-position: center;
}

#context {
    display: flex;
    flex-flow: column;
    background-image: url("../imgs/common/Artboard1-desktop.png");
    background-size: 100% 100%;
    width: 100%;
    height: calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

#context .wrapper {
    width: 92%;
    margin: 0px 4%;
    box-sizing: border-box;
    height: 100%;
    max-width: calc(100vh * 0.574 - 55px * 0.574 + 300px);
    max-width: -webkit-calc(100vh * 0.574 - 55px * 0.574 + 300px);
    max-width: -moz-calc(100vh * 0.574 - 55px * 0.574 + 300px);
}

#progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
}

#progress-bar .progressbar-content {
    height: 50px;
    width: 75%;
    position: relative;
}

#progress-bar .progress-text {
    color: white;
    font-family: OpenSans;
    font-size: 15px;
}

#progress-bar .progress-bg {
    border: solid 1px white;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    position: absolute;
    height: 15px;
    top: 25px;
}

#progress-bar .progress-fg {
    background: white;
    border: solid 1px white;
    position: absolute;
    height: 15px;
    top: 25px;
}

.wrapper .main-content {
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 80%;
    border-radius: 17px;
    display: flex;
    flex-flow: column;
    padding: 10px;
    box-sizing: border-box;
    color: gray;
    font-family: OpenSans;
}

#context .header {
    text-align: center;
    width: 100%;
    height: 12.4%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0px 20px;
}

.header-title {
    font-size: 2rem;
    color: #523782;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-btn {
    background: url(../imgs/step2/back.png) no-repeat;
    background-size: 100% 34px;
    background-position: center;
    width: 18px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 10px;
    cursor: pointer;
}

* {
    font-size: 16px;
}

.main-content .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 0px calc(150px - 100vh * 0.574 * 0.5 + 55px * 0.574 * 0.5 - 300px * 0.5 + 100% * 0.5);
    padding: 0px -webkit-calc(150px - 100vh * 0.574 * 0.5 + 55px * 0.574 * 0.5 - 300px * 0.5 + 100% * 0.5);
    padding: 0px -webkit-calc(150px - 100vh * 0.574 * 0.5 + 55px * 0.574 * 0.5 - 300px * 0.5 + 100% * 0.5);
    box-sizing: border-box;
    height: 70%;
}


/* Padding Caculation */


/*  current_padding = max_padding - (max_width - current_width)/2 */

.card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 33.2%;
    margin-bottom: 0.1%;
    cursor: pointer;
    max-width: 25%;
}

.card img {
    height: calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    max-width: 100%;
    max-height: calc(100vw * 0.92 /4);
    max-height: -webkit-calc(100vw * 0.92 /4);
    max-height: -moz-calc(100vw * 0.92 /4);
}

.card .title {
    font-size: 13px;
    font-family: OpenSansSemiBold;
    color: #242424;
}

.card .date {
    color: #242424;
    font-size: 10px;
    font-family: OpenSansSemiBold;
}

.card-disable {
    opacity: 0.5;
}

.login-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 17.4%;
}

#context .round-btn {
    border-radius: 5px;
    font-size: 1.5rem;
    /* padding: 20px 100px; */
    background: rgb(228, 14, 123);
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: OpenSansSemiBold;
    width: calc((100% - 2 * (15.85px + 50% - 28.7vh)) * 0.8);
    width: -moz-calc((100% - 2 * (15.85px + 50% - 28.7vh)) * 0.8);
    width: -webkit-calc((100% - 2 * (15.85px + 50% - 28.7vh)) * 0.8);
    height: 60%;
    /* Right Padding: calc( - 28.7vh + 15.785px  + 50%) = calc(15.85px + 50% - 28.7vh)*/
}

.round-btn div {
    font-size: 20px;
    color: white;
}

.round-btn-disable {
    background: rgba(228, 14, 123, 0.4) !important;
}

@media (max-width: 460px) {
    #context {
        background-image: url("../imgs/common/Artboard1.png");
    }
    * {
        font-size: 14px;
    }
    .back-btn {
        left: 0px;
    }
    .card {
        padding-top: 3px;
    }
    #context .round-btn {
        width: 100%;
    }
    @media screen and (max-height: 760px) {
        .card {
            padding-bottom: 0%;
            padding-top: 0%;
        }
        .card .date {
            font-size: 10px;
        }
        .card .title {
            font-size: 13px;
        }
        .main-content .content {
            height: 70%;
            margin: auto;
        }
        .wrapper .main-content {
            height: 88%;
        }
    }
}

@media (max-width: 460px) {
    * {
        font-size: 13px;
    }
}

@media (max-width: 380px) {
    * {
        font-size: 12px;
    }
    .back-btn {
        left: 0px;
        background-size: 100% 28px;
        width: 15px;
    }
    .card .date {
        font-size: 8px;
    }
    .card .title {
        font-size: 11px;
    }
    @media screen and (max-height: 760px) {
        .card {
            padding-bottom: 0%;
            padding-top: 0%;
        }
        .card .date {
            font-size: 8px;
        }
        .card .title {
            font-size: 11px;
        }
        .main-content .content {
            height: 70%;
            margin: auto;
        }
        .wrapper .main-content {
            height: 88%;
        }
    }
}