
@media (min-width:980px) {
    * {
        font-size: 16px;
    }
     #main-content {
          display: flex;

    }
    #main-content .wrapper {
        width: 950px;
        height: 920px;
        margin-top: 150px;
        position: relative;
    }
    #main-content .content {
        width: 750px;
        margin:auto;
        box-sizing: border-box;
    }

#main-content .header {
    padding: 20px;
   
}
#main-content .footer {
    flex-flow: row;
    justify-content: center;
}
#main-content .footer  .curve-arrow {
    width: 130px;
    padding: 50px 60px;
    padding-left: 70px;
    display: block;
}

#main-content .footer  .round-btn {
    font-size: 1.5rem;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    width: 50%;

}

#main-content .footer .round-btn span {
    font-size: 1.5rem;
}

.tip .tip-content {
    flex: 1;
    font-size: 18px;
    max-height: 100px;
    overflow: hidden;
}
#main-content {
    background-image: url("../imgs/Artboard1-desktop.png");
}

#main-content .footer  .round-btn img {
    height: 15px;
}
#main-content .footer .footer-desc {
    font-size: 18px;
}

.card {
    width: 170px;
    margin-right:3px; 
    margin-left: 3px;
}

.back-btn {
    background: url(../imgs/back.png);
    background-size: 100% 100%;
    width: 15px;
    height: 30px;
    position: absolute;
    top: 36px;
    left: 20px;
}

#progress-bar {
    position: absolute;
    margin: 0px 10%;
    width: 80%;
    box-sizing: border-box;
    top: -100px;
}

#progress-bar .progress-text {
    color: white;
    font-family: OpenSans;
}
#progress-bar .progress-bg {
    border:solid 1px white;
    background: rgba(255,255,255, 0.5);
    width: 100%;
    position:absolute;
        height: 20px;

    top: 30px;
}
#progress-bar .progress-fg {
    background: white;
    width: 20%;
    border: solid 1px white;
    position:absolute;
    height: 20px;
    top: 30px;
}


}

